body {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
 }


.header {
    width: 400px;
    height: 100px;
    background-color: #141f40;

}

.h_box {

    width: 40px;
    height: 40px;
    background-color: #a9004b;
    border-color: #FFFFFF;
    border-width: 10px;
    border-style: solid;
    float: right;
    position: relative;
    top: 20px;
    right: 20px;
}



 .main {
    width: 400px;
    height: 250px;

}


.main_left {

    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;

}

.main_right {

    width: 250px;
    height: 250px;
    background-color: #8c2727;
    float: left;

}

.mr_box {

    width: 140px;
    height: 40px;
    background-color: #ff863f;
    border-color: #FFFFFF;
    border-width: 5px;
    border-style: solid;
    position: relative;
    top: 30px;
    left: 35px;

    margin: 10px;

}



 .huddar {
    width: 400px;
    height: 100px;
    background-color: #d98d30;

}